.add {
  width: 70%;
  margin-left: max(6vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.add form {
  gap: 20px;
}
.add-item-name,
.add-item-desc {
  width: max(40%, 280px);
}
.add-img-upload {
  max-width: 250px;
}
.add-img-upload label img {
  max-width: 250px;
}
.add-item-name input,
.add-item-desc textarea {
  padding: 10px;
}
.add-category-price {
  display: flex;
  gap: 30px;
}
.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
